<layout name="../../Common/admin_layout" />

<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">角色名称：</td>
                <td>
                    <input  type="text" name="role_name" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">选择权限：</td>
                <td>
                	<?php foreach ($priData as $k => $v): ?>
                    <input level="<?php echo $v['level']; ?>" type="checkbox" name="pri_id[]" value="<?php echo $v['id']; ?>" /> 
                    <?php echo str_repeat('-', $v['level'] * 8); ?><?php echo $v['pri_name']; ?><br />
                    <?php endforeach; ?>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
$("input[name='pri_id[]']").click(function(){
	// 先取出当前的level值
	var cur_level = $(this).attr("level");
	// 判断是选中还是取消
	if($(this).prop("checked"))
	{
		var tmp_level = cur_level;
		// 当前权限所有上级和下级的权限都设置为选中状态
		// 先取出上级并选中
		$(this).prevAll(":checkbox").each(function(k,v){
			if($(v).attr("level") < tmp_level)
			{
				$(v).prop("checked", "checked");
				tmp_level--;
			}
		});
		// 再取出所有的子级选中
		$(this).nextAll(":checkbox").each(function(k,v){
			
			if($(v).attr("level") > cur_level)
				$(v).prop("checked", "checked");
			else
				return false;
		});
	}
	else
	{
		// 再取出所有的子级取消选中
		$(this).nextAll(":checkbox").each(function(k,v)
		{
			if($(v).attr("level") > cur_level)
				$(v).removeAttr("checked");
			else
				return false;
		});
	}
});
</script>



















